.posted-on .updated{display:inline-block;margin-right:1em;}
.posted-on .updated:before{content:'Updated: ';}
.posted-on .entry-date:before{content:'Published: ';}
.minibook{float:right;}
.booklayer{padding:8px;width:100%;display:block;border:solid 1px #CCC;margin:3px;border-radius:5px;background:#EEE;color:#333;vertical-align:top;}
table{ border-collapse: collapse; border-spacing: 0; table-layout: fixed;}

.posted-on { display: block;}
.cat-links, .tags-links { display: inline-block;}

.single-post span.rt-reading-time { display: inline !important;}
.single-post .stats_counter:before { content: ' |';}
.single-post .entry-content p:first-of-type { margin-top: 2rem;}